<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<h1>El super led del tata</h1>

<p>Prende y apaga el led del tata</p>

<button onclick="enlazar()"> Enlazar</button>
<button onclick="desenlazar()"> Desenlazar</button>
<button onclick="encender()"> Encender LED</button>
<button onclick="apagar()"> Apagar LED</button>
</body>

<script>

    function enlazar() {
        $.get("/led/enlazar", function (data) {
            console.log(data);
        });
    }

    function desenlazar() {
        $.get("/led/desenlazar", function (data) {
            console.log(data);
        });
    }

    function encender() {
        $.get("/led/encender", function (data) {
            console.log(data);

        });
    }

    function apagar() {
        $.get("/led/apagar", function (data) {
            console.log(data);

        });
    }

    $(document).ready(function () {
        console.log("document loaded");
    });

    $(window).on("load", function () {
        console.log("window loaded");
    });
</script>

</html>

